.header {
  background-color: rgba(0, 0, 0, 0.42);
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
.header-title {
  cursor: pointer;
  margin-bottom: -14px;
}
.header-link {
  cursor: pointer;
  font-size: 21px;
  margin: 7px 1%;
  transition: 0.7s color ease-in-out;
}
.header-link:hover {
  color: goldenrod;
}
